.LogoutView img{
    height: 100%;
    width: 100%;
}

.LogoutView {
    background-color: black;
}

.LogoutView h5 {
    color: white;
    font-size: 60px;
    position: absolute;
    margin: auto;
    top: 15vh;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: bold;
    font-stretch: expanded;
    font-kerning: auto;
    /* text-transform: uppercase; */
    text-shadow: 2px 2px gray;
    overflow: hidden;
    white-space: nowrap;
    width: 30ch;
    animation: type 10s steps(30);
}

.LogoutView a {
    color: white;
    font-size: 30px;
    position: absolute;
    margin: auto;
    top: 35vh;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
  }