.ProfileView {
  text-align: center;
  display: grid;
}
.box {
  margin: 40px;
  display: grid;
  /* grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(1fr 2fr); */
  /* grid-column: 3;
  grid-row: 3; */
  display: grid;
  gap: 1%;
  grid-template-areas:
    "item1 item2 item3"
    "item1 item2 item3"
    /* "item4 item5 item3" */
    "item4 item5 item6"
    "item7 item8 item6"
    "item7 item8 item6";
}

.userInfo {
  grid-area: item4;
}
.Project1 {
  grid-area: item3;
  /* grid-area: item3; */
}
.Project2 {
  grid-area: item6;
  /* grid-area: item6; */
}
