.box2 {
  margin-top: 100px;
}

.box {
  display: grid;
  gap: 40px;
  grid-template-rows: 470px;
  border-radius: 9%;
  /* background-color: #519259e6; */
  border: 3px solid #51925931;
  background-color: #c3efca55;
  text-align: center;
  margin-left: 70px;
  margin-right: 20px;
}
.box img {
  /* height: 200px;
  width: 100px; */
  object-fit: cover;
  width: 150px;
  height: 200px;
  border: 1px solid #51925947;
  border-color: aliceblue;
  margin-top: 20px;
  border-radius: 6%;
  width: 80%;
}
/* .UserInfo {
  display: grid;
} */
.name {
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;

  background-color: #5192591a;
  border: 2px solid #5192592f;
  border-radius: 10px;
  width: 50%;
}
.description {
  margin-top: 5%;

  margin-left: 15%;
  margin-right: 15%;
  background-color: #5192591a;
  border: 2px solid #5192592f;
  border-radius: 10px;
}

.title-delete-container {
  display: flex;
  justify-content: space-between;
}

.delete-icon {
  font-size: x-large;
  cursor: pointer;
}

.modal-body {
  font-size: large;
}

.modal-footer {
  display: flex;
  justify-content: flex-start;
}

.delete-btn {
  width: 80px;
}

.acc-btn {
  width: 20%;
  margin-bottom: 40px;
}

.link-add {
  color: #519259;
}

.link-add:hover {
  color: gray;
}

.testToggle::after {
  content: "Show more";
}

.testToggle:not(.collapsed)::after {
  content: "Show less";
}

.testToggleTwo::after {
  content: "Show more";
}

.testToggleTwo:not(.collapsed)::after {
  content: "Show less";
}

@media screen and (max-width: 640px) {
  .main-content {
    width: 90%;
  }
  .company__info {
    display: none;
  }
  .login_form {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}
@media screen and (min-width: 642px) and (max-width: 800px) {
  .main-content {
    width: 70%;
  }
}
