* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
}

input {
  height: 45px;
  padding: 10px 15px;
  margin-bottom: 15px;
}

button {
  width: 200px;
  outline: none;
  border: none;
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
}

.signup__container {
  width: 100%;
  min-height: 100vh;
  padding: 50px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.signupBtn {
  background-color: green;
  color: #fff;
  margin-bottom: 15px;
}

.link {
  cursor: pointer;
  color: rgb(39, 147, 39);
}

@media screen and (max-width: 800px) {
  .login__container,
  .signup__container {
    padding: 30px;
  }
}
