.StopsView .map {
  margin-top: 100px;
  /* border-radius: 100%; */
  cursor: pointer;
}
.map {
  /* margin-top: 100px; */
  border-radius: 50%;
}

.StopsView .row2 {
  text-align: center;
}

.StopsView .row2 .btn {
  margin-right: 3px;
  margin-top: 20px;
  width: 270px;
  margin-left: 10px;
}

.StopsView .row2 label {
  margin-top: 85px;
  font-size: 27px;
  font-family: Arial, Helvetica, Verdana;
}
.StopsView h1 {
  margin-bottom: -30px;
}

.StopsView .col {
  margin-top: -25px;
  margin-right: 23px;
}

.StopsView {
  margin-right: 100px;
  margin-left: 100px;
}
