.StopsView .map {
    margin-top: 100px;
}

.StopsView .row2 {
    text-align: center
}

.StopsView .row2 .btn {
    margin-right: 20px;
    margin-top: 20px;
}

.StopsView .row2 label {
    margin-top: 50px;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}