.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  cursor: pointer;
}

.circle-icon-container {
  display: flex;
  justify-content: flex-end;
}

.circle-icon {
  font-size: x-large;
  color: black;
  cursor: pointer;
}

.title-heart-container {
  display: flex;
  justify-content: space-between;
}

.heart-icon {
  font-size: x-large;
  color: rgb(236, 13, 13);
  cursor: pointer;
}
.heart-icon2 {
  font-size: x-large;

  color: rgb(236, 13, 13);
  cursor: pointer;
}
/* .icon-lock {
  display: none;
}

.title-heart-container :hover {
  display: none;
}
.icon-lock :hover {
  display: none;
} */
