.card {
    cursor: pointer;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.circle-icon-container {
  display: flex;
  justify-content: flex-end;
}

.circle-icon {
  font-size: x-large;
}

/* .title-heart-container {
  display: flex;
  justify-content: space-between;
} */
.heart-icon {
  font-size: x-large;
}
