.RoadtripForm form{
    border-radius: 10px;
    background-color: #f2f2f2bd;
    /* opacity: .5; */
    padding: 20px;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

h1{
    text-align: center;
}

.RoadtripForm form button {
    display: block;
    margin: 0 auto;
}

.RoadtripForm .form-label {
    font-size: 18px;
    font-weight: bold;
}


